{# <ul>
    <li><a href="/home">MySymfonyApp</a></li>
    <li><a href="/lucky">Lucky</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/article">Article <a/></li>
        <ul>
            <li><a href="/article/generate">Generate <a/></li>
            <li><a href="/article/list">list <a/></li>
            <li><a href="/article/show/id">show <a/></li>
        </ul>
</ul> #}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home">MySymfonyApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/article" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Authentification
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        {% if app.user %}
          <a class="dropdown-item">Welcome {{ app.user.email }}</a>
          <a class="dropdown-item" href="">Mon Profil </a>
          <a class="dropdown-item" href="/logout">Se déconnecter</a>
        {% else %}
          <a class="dropdown-item" href="/register">S'enregister</a>
          <a class="dropdown-item" href="/login">Se connecter</a>
        {% endif %}
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/lucky">Lucky <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/article" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Article
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/article/generate">Generate</a>
          <a class="dropdown-item" href="/article/list">list</a>
          <a class="dropdown-item" href="/article/new">new</a>
        </div>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      {% if is_granted('ROLE_COMM_ADMIN') %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/article" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/users">Gestion des utilisateurs</a>
            <a class="dropdown-item" href="/article/list">Gestion des articles </a>
            <a class="dropdown-item" href="/commentaire/list">Gestion des commentaires</a>
          </div>
        </li>
      {% elseif is_granted('ROLE_ARTICLE_ADMIN')  %}
       <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/article" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Administration
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/admin/users">Gestion des utilisateurs</a>
            <a class="dropdown-item" href="/article/list">Gestion des articles </a>
            <a class="dropdown-item" href="/commentaire/list">Gestion des commentaires</a>
          </div>
        </li>
      {% endif %}
  </div>
</nav>